/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
}
h1 {
    font-weight: 700;
}
h2 {
    font-size: 2.53rem;
}
.btn-primary {
    background-color: #ffffff;
    border-radius: 0;
    border: 2px solid var(--yellow);
    color: var(--navy);
    text-transform: uppercase;
    font-size: 1.25rem;
}
.btn-primary:hover {
    background-color: var(--navy);
    border-color: var(--yellow);
}
.btn-primary:active, .btn-primary:focus {
    background-color: var(--teal)!important;
}
.section {
    overflow-x: hidden;
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
#main-nav {
    background-color: var(--navy);
}

    #main-nav .nav-item {
        padding: 0.25rem 0.75rem;
        /* padding-left: 1rem; */
       
    }

    #main-nav .nav-link {
        color: #ffffff;
        font-size: 1rem;
        white-space: nowrap;
      
       
    }

nav a {
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

nav .breadcrumb a {
    text-decoration: none;
}

#main-nav .nav-item.current {
    /* border-left: 3px solid var(--yellow);
    padding-left: calc(1rem - 3px); */
    padding-top: 0;
}
    #main-nav .current a {
        color: var(--yellow);
        border-bottom: 3px solid var(--yellow);
        width: fit-content;
        padding-bottom: .25rem;
        padding-top: 0;
         /* margin-bottom: .75rem; */

    }

#main-nav .nav-item {
    font-size: 1rem;
}
#main-nav .divider {
    display:none;
}
/* Burger menu toggle */
.navbar-toggler {
    border: none;
}
.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .animated-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: #ffffff;
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }


    /* Phone and email  */
    .top-contact {
        color: var(--yellow);
    }
    .top-contact  p {
        font-size: 0.875rem;
    }
    
    
/*--------------------------------------------------------------
# Hero Home
--------------------------------------------------------------*/

.hero-home {
    background-color: var(--navy);
}

.hero-home h1 {
    color: #ffffff;
    font-size: 4rem;
    line-height: 3rem;
    text-transform: uppercase;
}

.hero-home h1 span {
    color: var(--yellow);
    font-size: 2.53rem;
    font-weight: 300;
    text-transform:capitalize; 
}

.hero-home p {
    color: #ffffff;
    font-style: italic;
}

.hero-home .btn-primary {
    font-weight: 500;
    border: 2px solid var(--navy);
    padding-right: 0;
    width: fit-content;
}

.hero-home .btn-primary svg {
    width: 90px;
}

.hero-home .btn-primary:hover {
    background-color: var(--navy);
    border: 2px solid var(--yellowLight);
}

.hero-home .hero-img-container {
    width: fit-content;
    position: relative;
}

.hero-home .hero-img {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    max-width: 100%;
   
}

.hero-home .hero-square-navy {
    background-color: var(--navy);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);                                 
}

.hero-home .hero-img-square {
    background-color: var(--teal);
    position: absolute;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-home .hero-img-outline {
    border: 2px solid var(--yellow);
    position: absolute;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services h2 {
font-weight: 500;
font-size: 2.25rem;
}
.services h2 span {
    display: block;
    font-weight: 300;
}
.services .container-fluid {
    background-color: var(--yellow);  
    background-image: url("/media/services.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 5rem;
}

.services .row {
    position: relative;
}

/* .services .service-container {
    position: relative;
    width: 100%;
} */
.services img {
    /* height: 400px; */
    position: absolute;
    right: 0;
}

.services .service-text {
    /* position: absolute;
    top: 50%; */
    z-index: 1;
}

.services .service {
    position: relative;
    height: 150px;
    width: 150px;
    margin-bottom: 5rem;
}

.services .service-square {
    background-color: var(--navy);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);   
}

.services .service-square-text {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);   
}

.services .service-square-text h2 {
    color: #ffffff;
    font-size: 1.25rem;
    text-align: center;
}

.services .service-square-text span {
    display: block;
}

.services-container {
    margin-top: 2.3rem;
}

/* Stagger on mobile  */

.services .service:nth-of-type(odd) {
    margin-left: -7rem;
    margin-top: -7rem;
    margin-bottom: -2rem;
}

.services .service:nth-of-type(even) {
    margin-right: -7rem;
}

/*--------------------------------------------------------------
# How we can help
--------------------------------------------------------------*/
.help h2 {
    font-size: 4.5rem;
}
/*--------------------------------------------------------------
# Newsletter
--------------------------------------------------------------*/
.newsletter {
    background-color: var(--navy);
}

.newsletter h2 {
    color: #ffffff;
}

.newsletter form input {
    padding: 1rem 1.75rem;
    border-radius: 50px;
    border: 2px solid var(--navy);
    color: var(--navy);
    font-weight: 500;
    margin-bottom: 1rem;
}

.newsletter form input::placeholder {
    color: var(--navy);
}

.newsletter form input[type="submit"] {
    background-color: var(--yellow);
    text-transform: uppercase;
}


.newsletter form input[type="submit"]:hover {
    background-color: var(--navy);
    color: var(--yellow);
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
h2.section-title-large {
    font-size: 4rem;
}
.blog .card {
    background-color: var(--yellowLight);
    border: 2px solid var(--yellowLight);
    padding: 1rem;
}

.blog .card .card-img-top {
    padding-bottom: 1rem;
}

.blog a.card {
    text-decoration: none;
    color: var(--navy);
}

.blog .card h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}



.blog .card .teal {
    color: var(--tealLight);
    text-transform: uppercase;
}

/* Get in touch  */
.get-in-touch .details h3, .get-in-touch .details p {
    margin-bottom: 0;
}

.get-in-touch .details h3 {
    color: var(--yellow);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.75rem;
}

.details-container {
    width: fit-content;
}

.pt-04 {
    padding-top: 0.15rem;
}

.get-in-touch .section-title-large {
    font-size: 3.5rem;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-color: var(--navy);
}

    footer h3, footer a, footer p, .footer-title {
        color: #ffffff;
        font-weight: 300;
    }

    footer .footer-title {
       
        color: var(--yellow)
    }



    footer a {
        font-size: 1rem;
        text-decoration: none;
        font-weight: 300;
    }

        footer a:hover {
            text-decoration: underline;
            color: #ffffff;
        }

            footer a:hover i {
                color: #ffffff;
            }


.footer-title {
    /*font-size: 1rem;*/
    /*font-weight: 500;*/
    margin-bottom: 20px;
    /*color: var(--light);*/
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;
}

footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}

.shfooter .collapse {
    display: inherit;
}

.shfooter i::before {
    color: var(--light);
}


.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer ul li a:hover i {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards;
}

@keyframes icons-rise {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translate(2.5px, -2.5px);
    }
}

.social-footer a:hover {
    text-decoration: none;
}

    .social-footer a:hover span {
        text-decoration: underline;
    }

@keyframes arrow-right {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(3px);
    }
}



footer hr:not([size]) {
    height: 1px;
    color: var(--hcs-blue);
    opacity: .8;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
}

/*footer ul {*/
/*    padding: 20px 10px 10px 10px;*/
/*}*/

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
}

.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

    .shfooter .collapse.show {
        display: block;
    }

.shfooter .title .bi-chevron-down,
.shfooter .title[aria-expanded=true] .bi-chevron-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .bi-chevron-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}

/* NES logo footer  */
footer .nes-logo {
    text-align: center;
}

footer .nes-logo-top {
    width: 68px;
}

.sub-footer p {
    /*color: var(--light);*/
    /*color: var(--light);*/
    font-size: 14px;
}

.sub-footer .container {
    padding: 1rem;
}
