/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #main-nav .nav-item {
        padding-left: .5rem;
    }
    #main-nav .nav-item.current {
        border-left: 0;
        padding-left: 0.5rem;
    }
/* Services medium devices  */
    .services .services-container {
        margin-top: -53px;
    }

    .services .service, .services .service:nth-of-type(odd), .services .service:nth-of-type(even) {
        margin: 0;
    }

    .services .service {
        height: 105px;
        width: 105px;
    }

    .services .service-square-text h2 {
        font-size: 1rem;
    }

    .services .container {
        max-width: 95%;
    }

    .services .container-fluid {
        background-size: 35%;
        height: 35vh;
    }
   .services h2 {
    font-size: 2.75rem;
   }

   /* How we can help */
.help h2 {
    font-size: 4rem;
    line-height: 4rem;
}

/* get in touch  */
.get-in-touch .section-title-large {
    font-size: 4rem;
}


.pt-04 {
    padding-top: 0.4rem;
}

    }
