/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* Main navigation - large devices  */
    #main-nav .nav-item.current {
        border-left: none;
        padding-left: 0;
        padding-right: 0;
        margin-left: -2px;
        margin-right: -2px;
        padding-top: 0.5rem;
    }
    #main-nav .current a {
        color: #fff;
        border: 2px solid var(--yellow);
        padding-top: 0.281rem;
        padding-bottom: 0.281rem;
    }
    #main-nav .nav-item {
        border: none;
        padding: 0.5rem 0.25rem;
       
    }
    #main-nav .nav-link::after {
        content: ' ';
        display: block;
        height: 50%;
        width: 3px;
        background-color: var(--yellow);
    }

    #main-nav .divider {
        background-color: var(--yellow);
        display: block;
        width: 2px;
        height: 16px;
    }

    #main-nav .divider:last-of-type {
        display: none;
    }

    /* Hero Home  */
    .hero-home h1 {
        font-size: calc(8rem*.9);
        line-height: calc(6rem*.9);
    }

    .hero-home h1 span {
        font-size: calc(5.07rem*.9);
    }

    .hero-home p {
        font-size: calc(1.25rem*.9);
    }
    /* Services large  */

    .services .container-fluid {
        height: 63vh;
        background-size: 30%;
    }

    .services .container-fluid .row {
        width: 100%;
    }

    .services h2 {
        font-size: 3rem;
    }
    .services .services-container {
        margin-top: -75px;
    }
    
    .services .container {
        max-width: 95%;
    }
    .services .service {
        height: 150px;
        width: 150px;
    }

    .services .service-square-text h2 {
        font-size: 1.25rem;
    }

    /* How we can help Large */
    .help h2 {
        font-size: 5rem;
        line-height: 5rem;
    }
}